<div class="container" fxLayout='column' fxLayoutAlign="start center">
    <mat-card>
        <h1>Resources of knowledge</h1>
        <div class='container-btn' *ngFor="let resourse of resourses">
            <button [routerLink]='[resourse.page]' mat-raised-button color="primary" color="primary">{{ resourse.name }}</button>
        </div>      
     </mat-card>
</div>
