<div class="container">
    <h1>{{ itvdnItem.name }}</h1>
    <div>Page link: <a href="{{ itvdnItem.linkToSite }}">{{ itvdnItem.linkToSite }}</a></div>
    <div class='container-btn'>
        <button [routerLink]='["/resourses"]' mat-raised-button color="primary">
            Back
        </button>
    </div>
</div>
    