<div class='container' fxLayout="row wrap" fxLayoutAlign="center start">
    <div class="basic-info" *ngFor="let course of courses">
        <div>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        <div fxLayout='row' fxLayoutAlign="start end">
                            <div>
                                {{ course.name }}
                            </div>
                        </div>
                    </mat-card-title>
                </mat-card-header>
                <img mat-card-image height="200" src="{{ course.img }}" alt="{{ course.name }}">
                <mat-card-content>
                    <div class='content-basic'>
                        {{ course.description }}
                    </div>
                    <div>
                        <button [routerLink]='["/courses", course.id]' mat-raised-button color="primary">
                            Read more...
                        </button>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>