.basic-info {
    // width: 100%;
}
.basic-info > div {
    padding: 5px;
    font-size: 16px;
    width: 400px;

}

.photo-card > div {
    width: 400px;
    padding: 5px;
}

.container {
    // background-color: rgb(226, 223, 223);
    width: 100%;
}

.container > div {
    padding: 10px;
}

.icon-container {
    height: 24px;
    width: 24px;
    margin-right: 10px;
}

mat-card-content {
    // text-align: right;
    font-size:18px;
    color: gray;
}

// mat-card-content > ul {
//     text-align: left;
// }

.content-basic {
    height: 45px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 15px;
    white-space: nowrap;
}