<div class="container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <div fxLayout='row' fxLayoutAlign="start end">
                    <div>
                        {{ currentCourse.name }}
                    </div>
                </div>
            </mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{ currentCourse.img }}" alt="{{ currentCourse.name }}">
        <mat-card-content>
            <div class='content-basic'>
                {{ currentCourse.description }}
            </div>
            <div>
                <mat-list>
                    <h2>Lessons</h2>
                    <mat-list-item *ngFor="let lesson of currentCourse.lessons">
                            <mat-icon class='icon-item'>new_releases</mat-icon> {{ lesson }}
                    </mat-list-item>
                </mat-list>
            </div>
            <div class='container-btn'>
                <button [routerLink]='["/courses"]' mat-raised-button color="primary">
                    Back
                </button>
            </div>
        </mat-card-content>
    </mat-card>
</div>