.mat-list-icon {
    color: rgba(0, 0, 0, 0.54);
  }

.icon-item {
    margin-right: 10px;
}

.content-basic {
    font-size: 16px;
}

.container {
    padding: 15px;
}

.container-btn {
    text-align: right;
}