<div class='container' fxLayout="column" fxLayoutAlign="start center">
    <div *ngFor="let hobby of hobbies">
        <mat-card>
            {{ hobby.name }}
        </mat-card>
    </div>

    <div class='container-btn'>
        <button [routerLink]='["edit"]' mat-raised-button color="primary">
            Edit
        </button>
    </div>
</div>
