<nav mat-tab-nav-bar mat-align-tabs="center">
  <!-- <a routerLink="/home" routerLinkActive="active">Home</a>
  <a routerLink="/hobby" routerLinkActive="active">Hobby</a>
  <a routerLink="/courses" routerLinkActive="active">Courses</a> -->
  <!-- <mat-tab-group>
    <mat-tab label="First"> <a routerLink="/home" routerLinkActive="active">Home</a> </mat-tab>
    <mat-tab label="Second"> <a routerLink="/hobby" routerLinkActive="active">Hobby</a> </mat-tab>
    <mat-tab label="Third"> Content 3 </mat-tab>
  </mat-tab-group> -->
  <a mat-tab-link routerLink="/home" routerLinkActive="active"> Home </a>
  <a mat-tab-link routerLink="/hobby" routerLinkActive="active">Hobby</a>
  <a mat-tab-link routerLink="/courses" routerLinkActive="active">Courses</a>
  <a mat-tab-link routerLink="/resourses" routerLinkActive="active">Resources</a>
  <a mat-tab-link routerLink="/admin" routerLinkActive="active">Admin</a>
</nav>

<router-outlet></router-outlet>
