<div class="container" fxLayout='column' fxLayoutAlign="start center">
    <mat-card>
        <div *ngIf="!authService.isLoggedIn">
            <h1>Login</h1>
            <div class="login-container">
                <div>
                    <mat-form-field class="example-full-width">
                        <input #myLogin matInput placeholder="Your login (admin)" value="">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="example-full-width">
                        <input #myPass type="password" matInput placeholder="Password (admin)" value="">
                    </mat-form-field>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="login(myLogin.value, myPass.value)">
                        <mat-icon>vpn_key</mat-icon> Enter
                    </button>
                </div>
            </div>
        </div>
        <div *ngIf="authService.isLoggedIn">
            <div class="logout-container">
                <h1>Hello {{ authService.currentUserName }} !</h1>
                <button mat-raised-button color="primary" (click)="logout()">
                    <mat-icon>exit_to_app</mat-icon> Logout
                </button>
            </div>
        </div>
    </mat-card>
</div>
    