<div class="container">
    <h1>{{ itcItem.name }}</h1>
    <div>Page link: <a href="{{ itcItem.linkToSite }}">{{ itcItem.linkToSite }}</a></div>
    <div class='container-btn'>
        <button [routerLink]='["/resourses"]' mat-raised-button color="primary">
            Back
        </button>
    </div>
</div>
