.container {
    padding-top: 20px;
}

.container > div {
    width: 400px;
    margin: 10px;
}

.container-btn {
    text-align: right;

    button:not(:last-child) {
        margin-right: 10px;
    }
}