<div class='container' fxLayout="column" fxLayoutAlign="start center">
    <div *ngFor="let hobby of hobbies">
        <mat-card>
            <div fxLayout='row' fxLayoutAlign="space-between center">
                <div>
                    <mat-form-field>
                        <input #hobbyName matInput placeholder="Hobby name" value="{{ hobby.name }}">
                    </mat-form-field>
                </div>
                <div class="container-crud-btn">
                    <button mat-icon-button color="primary" (click)="saveHobby(hobby.id, hobbyName.value)">
                        <mat-icon>save</mat-icon>
                    </button>
                    <button mat-icon-button color="primary" (click)="deleteHobby(hobby.id)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
        </mat-card>
    </div>

    <div class='container-btn'>
        <button (click)="addHobby()" mat-raised-button color="primary">
            Add
        </button>
        <button routerLink="/hobby" mat-raised-button color="primary">
            Back
        </button>
    </div>
</div>
