/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
    font-family: Arial, Helvetica, sans-serif
}

body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #e5e4e9;
}
