<div class="container">
    <div>
        <h1>Front-End developer</h1>
    </div>
    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center start" fxLayoutAlign.xs="start center" fxLayoutAlign.sm="start center">
        <div class='photo-card'>
            <div>
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Pavlo Yanovskyi</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="assets/img/me.jpg" alt="Pavlo Yanovskyi (Front-end developer)">
                </mat-card>
            </div>
        </div>
        <div class='basic-info' fxLayout="row wrap" fxLayoutAlign="center start">
            <div>
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>
                            <div fxLayout='row' fxLayoutAlign="start end">
                                <div class='icon-container'>
                                    <mat-icon>today</mat-icon>
                                </div>
                                <div>
                                    Date of Birth
                                </div>
                            </div>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        17.03.1988 y. (31 years)
                    </mat-card-content>
                </mat-card>
            </div>
            <div>
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>
                            <div fxLayout='row' fxLayoutAlign="start end">
                                <div class='icon-container'>
                                    <mat-icon>wc</mat-icon>
                                </div>
                                <div>
                                    Family status
                                </div>
                            </div>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        married
                    </mat-card-content>
                </mat-card>
            </div>
            <div>
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>
                            <div fxLayout='row' fxLayoutAlign="start end">
                                <div class='icon-container'>
                                    <mat-icon>my_location</mat-icon>
                                </div>
                                <div>
                                    Location
                                </div>
                            </div>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        Kyiv, Ukraine
                    </mat-card-content>
                </mat-card>
            </div>
            <div>
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>
                            <div fxLayout='row' fxLayoutAlign="start end">
                                <div class='icon-container'>
                                    <mat-icon>email</mat-icon>
                                </div>
                                <div>
                                    E-mail
                                </div>
                            </div>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        pavlo.yanovsky@gmail.com
                    </mat-card-content>
                </mat-card>
            </div>
            <div>
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>
                            <div fxLayout='row' fxLayoutAlign="start end">
                                <div class='icon-container'>
                                    <mat-icon>phone_android</mat-icon>
                                </div>
                                <div>
                                    Phone number
                                </div>
                            </div>
                            
                        </mat-card-title>
                        <mat-card-subtitle>
                            Viber & Telegram
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        +38(068) 122-70-95
                    </mat-card-content>
                </mat-card>
            </div>
            <div>
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>
                            <div fxLayout='row' fxLayoutAlign="start end">
                                <div class='icon-container'>
                                    <mat-icon>message</mat-icon>
                                </div>
                                <div>
                                    Skype
                                </div>
                            </div>
                            
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        force882
                    </mat-card-content>
                </mat-card>
            </div>
            <div>
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>
                            <div fxLayout='row' fxLayoutAlign="start end">
                                <div class='icon-container'>
                                    <mat-icon>code</mat-icon>
                                </div>
                                <div>
                                    GitHub
                                </div>
                            </div>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <a href="https://github.com/yanovskyi">https://github.com/yanovskyi</a>
                    </mat-card-content>
                </mat-card>
            </div>
            <div>
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>
                            <div fxLayout='row' fxLayoutAlign="start end">
                                <div class='icon-container'>
                                    <mat-icon>web</mat-icon>
                                </div>
                                <div>
                                    Linkedin
                                </div>
                            </div>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <a href="https://www.linkedin.com/in/pavel-yanovsky"> https://www.linkedin.com/in/pavel-yanovsky</a>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
    <div>
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <div fxLayout='row' fxLayoutAlign="start end">
                        <div class='icon-container'>
                            <mat-icon>fitness_center</mat-icon>
                        </div>
                        <div>
                            Areas of expertise
                        </div>
                    </div>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                    Angular 2+ (exp.: 2 years), TypeScript, JavaScript, Three.js,
                    jQuery, HTML5, CSS3, Git, Bootstrap, Webpack, Wordpress ( +woocommerce)
            </mat-card-content>
        </mat-card>
    </div>
    <div>
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <div fxLayout='row' fxLayoutAlign="start end">
                        <div class='icon-container'>
                            <mat-icon>school</mat-icon>
                        </div>
                        <div>
                            Education
                        </div>
                    </div>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                    master of Science – Energy management. (NTUU “KPI” – 2011 y.)
            </mat-card-content>
        </mat-card>
    </div>
    <div>
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <div fxLayout='row' fxLayoutAlign="start end">
                        <div class='icon-container'>
                            <mat-icon>business_center</mat-icon>
                        </div>
                        <div>
                            Work experience
                        </div>
                    </div>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                    <ul>
                        <li>Front-end developer - Angular 2+ (November 2018 - Present) - company "Soley" </li>
                        <li>Web developer - Wordpress (August 2018 - October 2018) - company "JBW Soft"</li>
                        <li>Site administrator and developer (October 2017 – June 2018, Freelance) –
                                company “Golden Hammam” (Wordpress + woocommerce)</li>
                        <li>Front-end developer (October 2016- 2018 y.) – company “IT TV” (Angular
                        2+ projects with REST requests and DevExtreme library).</li>
                        <li>Hardware Engineer (2012-2018 y.) - TV channel “Inter” (maintenance of
                                servers for archive, Graphic System – Xpression and Plazma TV software</li>
                        <li>System administrator (2008-2012 y.) – TV channel “Inter”</li>
                    </ul>
            </mat-card-content>
        </mat-card>
    </div>
    <div>
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <div fxLayout='row' fxLayoutAlign="start end">
                        <div class='icon-container'>
                            <mat-icon>emoji_events</mat-icon>
                        </div>
                        <div>
                            Achievements
                        </div>
                    </div>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <ul>
                    <li>1st place in category Angular (Standard) in DevChallenge 2019 - Front-End (14) (June 2019)</li>
                    <li>3rd place in Front-End JavaScript Standard category in DevChallenge 1101 (13) (November
                            2018)</li>
                    <li>3rd place in Front-End JavaScript Pro category in DevChallenge 12 (June
                            2018)</li>
                    <li>3rd place in Front-End JavaScript Standard category in DevChallenge 10
                            (December 2016).</li>
                    <li>Finalist in Front-End JavaScript Junior category in DevChallenge 9 (June
                            2016)</li>
                </ul>
            </mat-card-content>
        </mat-card>
    </div>
    <div>
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <div fxLayout='row' fxLayoutAlign="start end">
                        <div class='icon-container'>
                            <mat-icon>record_voice_over</mat-icon>
                        </div>
                        <div>
                            English
                        </div>
                    </div>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <ul>
                    <li>current level – upper-intermediate</li>
                    <li>certificate of Advanced level of English school “Green Forest” (June 2016)</li>
                </ul>
            </mat-card-content>
        </mat-card>
    </div>
</div>